<div class="row">
    <div class="card col-md-11 mx-auto">
        <div class="card-header">
            Les plats
        </div>    
        <div class="card-body">
            <div class="row" *ngIf="isRestaurant()" >
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button class="btn btn-success db-block mx-auto" style="float: right;" routerLink="/pages/plats/ajout">Ajouter</button>
                </div>
            </div> 
            <ngx-liste-plat [plats]="plats"></ngx-liste-plat>   
        </div>
    </div>
</div>

