<div class="row">
    <div class="card col-md-11 mx-auto">
        <div class="card-header">
            Les plats <strong *ngIf="resto">{{resto.nom}}</strong>
        </div>    
        <div class="card-body">
            <div class="row" *ngIf="isRestaurant()" >
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button class="btn btn-success db-block mx-auto" style="float: right;" routerLink="/pages/plats/ajout">Ajouter</button>
                </div>
            </div> 
            <ngx-liste-plat *ngIf="plats" [resto]="resto" [plats]="plats"></ngx-liste-plat>   
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
        </div>
    </div>
</div>

