<div class="row">
    <div class="card col-md-6 mx-auto">
      <div class="card-body">
            <h3>Ajouter un restaurant</h3>
            <form [formGroup]="form" (ngSubmit)="valider()" >
                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-9">
                    <input type="text" id="inputEmail1" class="form-control form-control-sm"
                        formControlName="restaurant.nom"
                        [(ngModel)]="restaurant.nom"
                    >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Adresse</label>
                    <div class="col-sm-9">
                    <input type="text" id="inputEmail1" class="form-control form-control-sm"
                        formControlName="restaurant.adresse"
                        [(ngModel)]="restaurant.adresse"
                    >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="label col-sm-3 col-form-label">Photo</label>
                    <div class="col-sm-9">
                        <input type="file" accept="image/*" id="inputEmail1" class="form-control" (change)="addFile($event)">
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-success mx-auto db-block">Valider</button>
                </div>  
            </form>
        </div>  
    </div>  
</div>