<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">E-kaly</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <a *ngIf="!user||(user&&user.type=='Client')"  style="margin-right: 12px;">
        <i class="car-outline"></i>
        Panier
        <span class="badge badge-info">{{panier.getPanier().plats.length}}</span>
      </a>
      <nb-user *ngIf="user"
               [name]="user.nom + '(' + user.type + ')'">
      </nb-user>
      <a *ngIf="!user" href="/auth/login">
        Connexion
      </a>
      <a style="margin-left: 15px" *ngIf="user" (click)="auth.logout()">
        Se déconnecter
      </a>
    </nb-action>
  </nb-actions>
</div>

